:root {
  --primary-color: #12364f;
  --secondary-color: #e74c3c;
  --button-hover-color: #2ecc71;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.p{
  font-style: normal;
}

header, footer {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  text-align: center;
}

main {
  padding: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {
  flex: 1;
  min-width: calc(33.33% - 20px);
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Keyframe Animation */
@keyframes buttonHover {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.box-image {
  max-width: 100%;
  height: auto;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  animation: buttonHover 0.3s ease-in-out alternate-reverse infinite;
}
  /* Button Hover Effect */
  .button:hover {
    background-color: var(--button-hover-color); /* Change button color on hover */
    transition: 0.5 ease-in;
  }

/* Responsive Design */
@media screen and (max-width: 768px) {
  .box {
    min-width: 100%;
  }
}